### Reference:
* https://towardsdatascience.com/dont-miss-out-on-rolling-window-functions-in-pandas-850b817131db

In [1]:
import pandas as pd
df = pd.read_html("https://finance.yahoo.com/quote/TSLA/history?period1=1546300800&period2=1550275200&interval=1d&filter=history&frequency=1d")[0]
df = df.head(11).sort_values(by='Date')
df = df.astype({"Open":'float',
                "High":'float',
                "Low":'float',
                "Close*":'float',
                "Adj Close**":'float',
                "Volume":'float'})
df['Gain'] = df['Close*'] - df['Open']

In [2]:
df['Rolling Close Average'] = df['Close*'].rolling(2).mean()

In [3]:
df.head(10)

,Date,Open,High,Low,Close*,Adj Close**,Volume,Gain,Rolling Close Average
10,"Feb 01, 2019",61.08,63.22,60.70,62.44,62.44,36417000.0,1.36,NaN
9,"Feb 04, 2019",62.60,63.06,60.38,62.58,62.58,36760500.0,-0.02,62.510
8,"Feb 05, 2019",62.50,64.49,62.45,64.27,64.27,33714000.0,1.77,63.425
7,"Feb 06, 2019",63.92,64.85,63.12,63.44,63.44,25192500.0,-0.48,63.855
6,"Feb 07, 2019",62.66,62.94,60.60,61.50,61.50,32603000.0,-1.16,62.470
5,"Feb 08, 2019",61.37,61.49,59.70,61.16,61.16,29221000.0,-0.21,61.330
4,"Feb 11, 2019",62.32,63.72,62.10,62.57,62.57,35648500.0,0.25,61.865
3,"Feb 12, 2019",63.24,63.64,61.92,62.36,62.36,27588000.0,-0.88,62.465
2,"Feb 13, 2019",62.47,62.55,61.11,61.63,61.63,25708000.0,-0.84,61.995
1,"Feb 14, 2019",60.68,61.35,60.20,60.75,60.75,26004000.0,0.07,61.190

In [4]:
# df['Open Standard Deviation'] = df['Open'].std()
# df['Rolling Open Standard Deviation'] = df['Open'].rolling(2).std()
# df.head(10)

In [5]:
df['Rolling Volume Sum'] = df['Volume'].rolling(3).sum()
df.head(10)

,Date,Open,High,Low,Close*,Adj Close**,Volume,Gain,Rolling Close Average,Rolling Volume Sum
10,"Feb 01, 2019",61.08,63.22,60.70,62.44,62.44,36417000.0,1.36,NaN,NaN
9,"Feb 04, 2019",62.60,63.06,60.38,62.58,62.58,36760500.0,-0.02,62.510,NaN
8,"Feb 05, 2019",62.50,64.49,62.45,64.27,64.27,33714000.0,1.77,63.425,106891500.0
7,"Feb 06, 2019",63.92,64.85,63.12,63.44,63.44,25192500.0,-0.48,63.855,95667000.0
6,"Feb 07, 2019",62.66,62.94,60.60,61.50,61.50,32603000.0,-1.16,62.470,91509500.0
5,"Feb 08, 2019",61.37,61.49,59.70,61.16,61.16,29221000.0,-0.21,61.330,87016500.0
4,"Feb 11, 2019",62.32,63.72,62.10,62.57,62.57,35648500.0,0.25,61.865,97472500.0
3,"Feb 12, 2019",63.24,63.64,61.92,62.36,62.36,27588000.0,-0.88,62.465,92457500.0
2,"Feb 13, 2019",62.47,62.55,61.11,61.63,61.63,25708000.0,-0.84,61.995,88944500.0
1,"Feb 14, 2019",60.68,61.35,60.20,60.75,60.75,26004000.0,0.07,61.190,79300000.0