### Reference:
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [1]:
import numpy as np  # optional
import pandas as pd
print(pd.__version__)

1.2.3

In [4]:
# Inputs
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [5]:
# How to combine many series to form a dataframe?
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

#### How to get the items of series A not present in series B?

In [6]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

#### How to get the items not common to both series A and series B?

In [7]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

#### How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [8]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

#### How to bin a numeric series to 10 groups of equal size?

In [11]:
ser = pd.Series(np.random.random(20))
print(ser.head())

# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    0.576527
1    0.086289
2    0.033984
3    0.491410
4    0.950815
dtype: float64

0     6th
1     3rd
2     2nd
3     5th
4    10th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

#### How to stack two series vertically and horizontally ?

In [12]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

# Output
# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#### How to convert the first character of each element in a series to uppercase?

In [13]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution 1
ser.map(lambda x: x.title())

# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

#### How to calculate the number of characters in each word in a series?

In [14]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

#### How to filter words that contain atleast 2 vowels from a series?

In [15]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

#### ow to filter valid emails from a series?

In [16]:
# Input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# Solution 2 (as series of list)
# emails.str.findall(pattern, flags=re.IGNORECASE)

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

#### How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe?

In [19]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#  number of rows and columns
print(df.shape)

# datatypes
# print(df.dtypes)

# how many columns under each dtype
print(df.dtypes.value_counts())

# summary statistics
df_stats = df.describe()

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

(93, 27)
float64    18
object      9
dtype: int64

#### How to extract the row and column number of a particular cell with given criterion?

In [22]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

     Manufacturer Model     Type
58  Mercedes-Benz  300E  Midsize

In [24]:
# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))
print(row, col)

# Get the value
# df.iat[row[0], col[0]]
df.iloc[row[0], col[0]]

[58] [4]

61.9

In [29]:
df.iloc[row[0], :]

Manufacturer               Mercedes-Benz
Model                               300E
Type                             Midsize
Min.Price                           43.8
Price                               61.9
Max.Price                           80.0
MPG.city                            19.0
MPG.highway                         25.0
AirBags               Driver & Passenger
DriveTrain                          Rear
Cylinders                              6
EngineSize                           3.2
Horsepower                         217.0
RPM                               5500.0
Rev.per.mile                      2220.0
Man.trans.avail                       No
Fuel.tank.capacity                  18.5
Passengers                           5.0
Length                               NaN
Wheelbase                          110.0
Width                               69.0
Turn.circle                         37.0
Rear.seat.room                       NaN
Luggage.room                        15.0
Weight                            3525.0
Origin                           non-USA
Make                  Mercedes-Benz 300E
Name: 58, dtype: object

#### How to check if a dataframe has any missing values?

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df.isnull().values.any()

True

In [31]:
# How to count the number of missing values in each column?
n_missings_each_col = df.apply(lambda x: x.isnull().sum())
n_missings_each_col.argmax()

23

#### How to format or suppress scientific notations in a pandas dataframe?

In [32]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

   random
0  0.0000
1  0.0000
2  0.0288
3  0.9821

In [33]:
# How to format all the values in a dataframe as percentages?
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

out

#### How to filter every nth row in a dataframe?

In [34]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

#### How to get the row number of the nth largest value in a column?

In [35]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

# Solution
n = 5
df['a'].argsort()[::-1][n]

3

#### Create a new column 'penultimate' which has the second largest value of each row of df

In [36]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution
out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)
df['penultimate'] = out
print(df)

    0   1   2   3   4   5   6   7   8   9  penultimate
0  39  38  11  63  93  40   8  98  46   4           93
1  35  64  70  38  88  81  88  48  38  46           81
2  80   9  85  60  13  55  37  25  97  20           85
3  52  81  64  19  60  87  88  23  46  83           87
4  41  15  42  38  72  51  45  16  19  81           72
5  66  57  78  89  80  40  46  97  68  78           89
6  51  59  54  40  61  27  16  55  24  74           61
7  40   4  14  15  14  24  35   1  27  71           40

#### How to normalize all columns in a dataframe?

In [37]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

# Solution Q1
out1 = df.apply(lambda x: ((x - x.mean())/x.std()).round(2))
print('Solution Q1\n',out1)

# Solution Q2
out2 = df.apply(lambda x: ((x.max() - x)/(x.max() - x.min())).round(2))
print('Solution Q2\n', out2)

Solution Q1
       0     1     2     3     4     5     6     7     8     9
0  1.12  0.88 -0.63 -0.67  0.95  1.12  0.30  1.28 -1.43  1.37
1 -0.01 -1.03 -1.18  1.54 -0.93  0.96 -0.24  1.37  0.04 -1.23
2 -0.87 -1.51  0.58  1.18 -0.93 -1.21  0.87 -0.83  0.71  1.43
3  0.02 -1.01  0.87 -1.10  0.71 -1.18 -0.87 -0.51  0.62  0.25
4 -0.21  0.51 -1.15 -0.81  0.11 -0.10 -1.74  0.28  0.88  0.25
5  1.78  0.60 -0.66 -0.03 -0.37 -0.99 -0.24  0.52 -0.19 -0.78
6 -0.67  0.85  1.24  0.61 -1.11  0.80  0.53 -1.01 -1.55 -0.68
7 -1.16  0.71  0.92 -0.74  1.58  0.61  1.40 -1.09  0.91 -0.62
Solution Q2
       0     1     2     3     4     5     6     7     8     9
0  0.22  0.00  0.77  0.84  0.23  0.00  0.35  0.04  0.95  0.02
1  0.61  0.80  1.00  0.00  0.94  0.07  0.52  0.00  0.35  1.00
2  0.90  1.00  0.27  0.14  0.94  1.00  0.17  0.89  0.08  0.00
3  0.60  0.79  0.15  1.00  0.32  0.99  0.72  0.76  0.12  0.45
4  0.67  0.15  0.99  0.89  0.55  0.52  1.00  0.44  0.01  0.45
5  0.00  0.12  0.79  0.59  0.73  0.90  0.52  0.35  0.45  0.83
6  0.83  0.01  0.00  0.35  1.00  0.14  0.28  0.96  1.00  0.80
7  1.00  0.07  0.13  0.86  0.00  0.22  0.00  1.00  0.00  0.77

#### How to replace both the diagonals of dataframe with 0?

In [38]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

# Solution
for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
    
df

    0   1   2   3   4   5   6   7   8   9
0   0  32   1  87  71  19   7  91  97   0
1  48   0   7  60  23  91  31  50   0   1
2  85  25   0  96  74  16   9   0  91  40
3  33  46  88   0  95  23   0  89  17  61
4  88  69  37  19   0   0  28   2  65  77
5  29  77  83  18   0   0  48  31  91  99
6  19  76  52   0  25  52   0  63  28  51
7  15  59   0  24  52  15  47   0  75  80
8   2   0  56  93  70  44  31  42   0  35
9   0   4  46  42  70  52  59  23  56   0

#### How to get the nâ€™th largest value of a column when grouped by another column?

In [39]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

print(df)

# Solution
df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]

    fruit     taste  price
0   apple  0.142736      9
1  banana  0.600632     11
2  orange  0.032918     11
3   apple  0.171605     14
4  banana  0.851469      7
5  orange  0.911787      3
6   apple  0.377276     10
7  banana  0.614523      6
8  orange  0.016933     10

0.6145225269722484

In [40]:
df_grpd.get_group('banana')

1    0.600632
4    0.851469
7    0.614523
Name: taste, dtype: float64

#### How to join two dataframes by 2 columns so they have only the common rows?

In [42]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

# Solution
pd.merge(df1, df2, how='inner', 
         left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], 
         suffixes=['_left', '_right'])

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high          14   apple  high            4
1   apple   high          11   apple  high            4
2   apple   high           3   apple  high            4
3  orange    low           2  orange   low            7
4  orange    low           3  orange   low            7
5  orange    low           8  orange   low            7

#### How to create lags and leads of a column in a dataframe?

In [43]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

# Solution
df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  87  37  89  66     NaN     83.0
1  34  83  49  61    87.0     43.0
2  77  43   8  81    34.0     53.0
3  83  53  80  10    77.0     20.0
4  92  20  46  72    83.0      NaN