* https://dfrieds.com/data-analysis/rank-method-python-pandas.html

In [1]:
import pandas as pd
import seaborn as sns

In [4]:
data = {'close_date': ["2012-08-01", "2012-08-01", "2012-08-01", "2012-08-02", "2012-08-03", "2012-08-04", "2012-08-05", "2012-08-07"],
        'seller_name': ["Lara", "Julia", "Julia", "Emily", "Julia", "Lara", "Julia", "Julia"]
       }
df = pd.DataFrame(data)

df['close_date'] = pd.to_datetime(df['close_date'])

In [5]:
df

  close_date seller_name
0 2012-08-01        Lara
1 2012-08-01       Julia
2 2012-08-01       Julia
3 2012-08-02       Emily
4 2012-08-03       Julia
5 2012-08-04        Lara
6 2012-08-05       Julia
7 2012-08-07       Julia

The method='first' for the rank() method for pandas series is equivalent to the ROW_NUMBER() window function in SQL.

In [9]:
df['rank_seller_by_close_date'] = \
    df.groupby('seller_name')['close_date'].rank(method='first')
df.sort_values(by=['seller_name'])

  close_date seller_name  rank_seller_by_close_date
3 2012-08-02       Emily                        1.0
1 2012-08-01       Julia                        1.0
2 2012-08-01       Julia                        2.0
4 2012-08-03       Julia                        3.0
6 2012-08-05       Julia                        4.0
7 2012-08-07       Julia                        5.0
0 2012-08-01        Lara                        1.0
5 2012-08-04        Lara                        2.0

In [8]:
df['rank_seller_by_close_date'] = df.groupby('seller_name')['close_date'].rank(method='dense')
df.sort_values(by=['seller_name'])

  close_date seller_name  rank_seller_by_close_date
3 2012-08-02       Emily                        1.0
1 2012-08-01       Julia                        1.0
2 2012-08-01       Julia                        1.0
4 2012-08-03       Julia                        2.0
6 2012-08-05       Julia                        3.0
7 2012-08-07       Julia                        4.0
0 2012-08-01        Lara                        1.0
5 2012-08-04        Lara                        2.0